 body {
  font-family: Arial;
  background: rgb(35, 34, 34); 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(14, 12, 13);
}

.container {
  width: 1490px;
  margin: auto;
  background: rgb(209, 209, 212);
  padding: 20px;
  border-radius: 10px;
}

input, button {
  margin: 5px;
  padding: 10px;
  background-color: rgb(26, 20, 144);
}

.card {
  background: #88888a;
  padding: 1px;
  margin: 5px 0;
  border-radius: 8px;
}

.summary {
  background: rgba(19, 10, 122, 0.321);
  padding: 10px;
  margin-top: 10px;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  
}
.calculator-section {
  width: 60%;
 
}
.navbar {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: rgba(15, 23, 42, 0.033);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(23, 12, 137, 0.321);
  z-index: 100;
}

.navLeft {
  font-size: 22px;
  font-weight: bold;
  color: aliceblue;
}

.navRight {
  display: flex;
  gap: 20px;
}

.navItem {
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;

  padding: 8px 16px;
  border-radius: 8px;

  transition: all 0.3s ease;
}


.navItem:hover {
  background: #d35617;
  color: white;
}


.navItem.active {
  background: #2563eb;
  color: white;
}
.loginContainer{
height:100vh;
width: 100vw;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#6366f1,#38bdf8);
}

.loginCard{
background:white;
padding:40px;
border-radius:12px;
width:300px;
display:flex;
flex-direction:column;
gap:15px;
box-shadow:0px 10px 30px rgba(0,0,0,0.2);
}

.loginCard h1{
text-align:center;
color:#6366f1;
margin-bottom:5px;
}

.loginCard h2{
text-align:center;
margin-bottom:20px;
}

.loginCard input{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

.loginCard input:focus{
outline:none;
border-color:#6366f1;
}

.loginCard button{
padding:10px;
background:#6366f1;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
font-size:15px;
transition:0.3s;
}

.loginCard button:hover{
background:#4f46e5;
}
